<%= form_for recipe do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <p>
  <%= f.fields_for :ingredients do |b| %>
    <!-- <p><%= b.collection_check_boxes :ingredients_ids, Ingredient.all, :id, :name %></p> -->
    <p><%= b.collection_check_boxes :ingredients_ids, ingredients, :id, :name %></p>
  <% end %>
</p>

  <%= f.submit %>
<% end %>
